<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><a href="javascript:cerrar()" class="B vinculos1"><strong>Dev</strong>challenges.io</a></h1>
        <div id="lista">
            <ul>
                <nav>
                    <li v-for="menu of menus" class="lista1">{{menu.nombre}}
                        <a class="B vinculos2" href="javascript:abrir()" v-if="menu.nombre === ' '">Inputs</a>
                    </li>
                </nav>
            </ul>
        </div>
    </div>
    <div id="ventana">
        <h2>Buttons</h2>
        <ul>
            <nav>
                <li id="btnContenedor">
                </li>
            </nav>
        </ul>
    </div>
    <div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    <script src="code.js"></script>
</body>
</html>